<header>
    <div class="logo" onclick="window.location.href = '/'">
        <span>SmartBox</span>
    </div>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/faq">Частые вопросы</a></li>
        </ul>
    </nav>
    
    <div class="user-info">
        {% if username %}
            <span>Добро пожаловать, {{ username }}</span>
            <a href="/logout">Выход</a>
        {% else %}
            <div class="login" onclick="openModal('loginModal')">Вход</div>
            <div class="register" onclick="openModal('registerModal')">Регистрация</div>
        {% endif %}
    </div>
</header>
